# Python virtual environment
venv/
.env
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd

# OS-specific files (examples)
.DS_Store
Thumbs.db